:root{
    --background-color: #F8F8F8;
    --border-color: #E9E9E9;
    --secondary-color: #1958C2;
    --secondary-highlight-color: #02235e;
    --highlight-color: #ffffff;
    --text-color: #000000;
    --gray-color: #3a3a3a;
    --black-shadow-color: #b1b1b133;
    --input-border-color: #acacac;
    --theme-icon-color: #122f50;
    --skills-color-hover: #fff;
    --contact-color: #fff;
    --button-hover-color: #1958C2;
}
.dark-theme{
    --background-color: #0f172a;
    --border-color: #1c2a4d;
    --secondary-color: #1958C2;
    --secondary-highlight-color: #ffffff;
    --highlight-color: #0c111f;
    --text-color: #ffffff;
    --gray-color: #bbbbbb;
    --black-shadow-color: #25252533;
    --input-border-color: #6d6d6d;
    --input-color: rgb(194, 194, 194);
    --theme-icon-color: #ffa701;
    --skills-color-hover: #fff;
    --contact-color: #fff;
}
/* whole page */
*{
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}
/* end whole page */

/* header navbar */
.container{
    width: 80%;
    margin: 0 auto;
}
.section-title{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
}
.hero-header-section{
    background-color: var(--highlight-color);
    position: sticky;
    top: 0;
}
.hero-header-section header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    height: 50px;
    cursor: pointer;
}
.hero-header-section nav ul li{
    display: inline;
    list-style: none;
    padding-left: 30px;
}
.hero-header-section nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: .95rem;
    transition: .5s;
}
.hero-header-section nav ul li a:hover{
    color: var(--secondary-color);
}
/* end header navbar */

/* header hero content */
@keyframes animateBackground{
    from{
        background-position-y: 30px
    }
    to{
        background-position-y: 0px
    }
}
.hero-content-section{
    background-image: url("../img/hero-bg.png");
    height: 70vh;
    background-repeat: no-repeat;
    background-position: right center;
    background-position-y: 50px;
    background-size: 650px;
    animation: animateBackground 2s cubic-bezier(.46,.03,.52,.96) infinite alternate;
}
.hero-content-text{
    margin-top: 200px;
    width: 30%;
}
.hero-content-text h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.hero-content-text h1{
    font-size: 4rem;
    margin-bottom: 25px;
    font-weight: 900;
}
.hero-content-text p{
    color: var(--gray-color);
    font-size: 1.2rem;
    margin-bottom: 50px;
}
#download-cv-button{
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 900;
    border: 4px solid var(--secondary-color);
    padding: 0.95rem;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    transition: 0.5s;
}
#download-cv-button:hover{
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: 900;
    border: 4px solid var(--secondary-color);
    padding: 0.95rem;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
}
.hero-content-social-links{
    margin-top: 80px;
}
.hero-content-social-links li{
    display: inline;
    list-style: none;
}
.hero-content-social-links li a{
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 20px;
}
.hero-content-social-links li a i{
    font-size: 3rem;
    transition: 0.5s;
}
.hero-content-social-links li a i:hover{
    color: var(--secondary-highlight-color);
}
/* end header hero content */

/* about-skills section */
.white-bg{
    background-color: var(--highlight-color);
    height: 65vh;
    position: absolute;
    width: 50%;
    z-index: -99;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.about-skills-section{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}
.about-skills-skill{
    padding: 60px;
    width: fit-content;
    margin-right: 40px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 1px 1px 4px var(--black-shadow-color);
    transition: .5s;
}
.about-skills-skill.hovered{
    background-color: var(--secondary-color);
}
.about-skills-skill.hovered .white-icon, .about-skills-skill.hovered h2, .about-skills-skill.hovered p{
    color: var(--skills-color-hover);
}
.about-skills-skill:last-child{
    margin-right: 0 !important;
}
.about-skills-skill-icon i{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.about-skills-skill-title{
    margin-bottom: 30px;
}
/* end about-skills section */

/* about-experience section */
.about-experience-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    align-items: center;
}
.about-experience-highlight{
    grid-row-start: 1;
    grid-row-end: 3;
}
.about-experience-highlight h1{
    text-align: center;
    font-weight: 900;
    font-size: 10rem;
}
.about-experience-highlight h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 900;
}
.about-experience{
    padding: 30px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 1px 1px 4px var(--black-shadow-color);
    text-align: center;
}
.about-experience-count{
    font-size: 1.8rem;
    font-weight: 900;
}
/* end about-experience section */

/* about-techstack section */
.about-techstack-section{
    margin-top: 100px;
}
.about-techstack-section .section-title{
    text-align: right;
}
.about-techstack-stacks{
    display: flex;
    margin-top: 70px;
    align-items: center;
}
.about-techstack-stack{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 36px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}
.about-techstack-stack i{
    font-size: 50px;
    margin-right: 20px;
}
.about-techstack-stack-icon{
    width: 50px;
}
.about-techstack-stack-title{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
}
.view-more{
    margin-left: 20px;
}
.view-more i{
    color: var(--secondary-color);
    font-size: 30px;
    transition: .5s;
}
.view-more i:hover{
    color: var(--secondary-highlight-color);
}
.about-techstack-stack >.fa-html5{
    color: #DD4B25;
}
.about-techstack-stack >.fa-css3-alt{
    color: #254BDD;
}
.about-techstack-stack >.fa-js-square{
    color: #F7C327;
}
.about-techstack-stack >.fa-python{
    color: #346FA0;
}
/* end about-techstack section */

/* portfolio-projects section */
.portfolio-projects-section{
    margin-top:100px;
}
.portfolio-projects-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio-projects-header a{
    color: var(--highlight-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    transition: .5s;
}
.portfolio-projects-header a:hover{
    background-color: var(--secondary-highlight-color);
}
.portfolio-projects{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-project{
    margin-bottom: 30px;
}
.portfolio-project-thumbnail-bg{
    background-color: var(--highlight-color);
    padding: 40px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}
.portfolio-project-thumbnail{
    overflow: hidden;
    box-shadow: -1px 1px 10px var(--black-shadow-color);
}
.portfolio-project-thumbnail-image{
    width: 420px;
    object-fit: cover;
    object-position: 0 0;
}
.portfolio-project-title{
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 30px;
}
.know-more{
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
    display: inline-block;
    transition: .5s;
}
.know-more:hover{
    color: var(--secondary-highlight-color);
}
/* end portfolio-projects-section */

/* contact-section */
.contact-section {
    margin-top: 100px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.contact-text{
    padding: 50px;
}
.contact-text-title{
    color: var(--contact-color);
    font-size: 2rem;
}
.contact-text-cta{
    color: var(--contact-color);
    margin-top: 40px;
}
.contact-button{
    margin: auto;
    align-self: center;
}
a.contact-button{
    color: var(--text-color);
    background-color: var(--background-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    transition: .5s;
    align-self: center;
}
a.contact-button:hover{
    background-color: var(--contact-color);
    color: var(--button-hover-color);
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 8px;
}
/* end contact-section */

/* footer-section */
.footer-section{
    background-color: var(--secondary-color);
    margin-top: 100px;
}
footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .logo{
    height: 50px;
}
footer nav ul li{
    display: inline;
    list-style: none;
    padding-left: 30px;
}
.footer-nav nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .95rem;
}
.copyright-text{
    color: var(--text-color);
    font-size: .95rem;
}
.contact-page-cta{
    text-align: center;
    margin-top: 80px;
}
.contact-page-cta h3{
    color: var(--secondary-color);
    margin-bottom: 16px;
}
.contact-page-cta h1{
    font-size: 2rem;
    margin-bottom: 16px;
}
.contact-page-cta p{
    color: var(--gray-color)
}
.contact-page-details{
    display: flex;
    justify-content:space-between;
    margin-top: 100px;
}
.contact-page-info .info{
    margin-bottom: 30px;
    display: flex;
    align-items:center;
}
.contact-page-info .info:last-child{
    margin-bottom: 0;
}
.info-icon{
    margin-right: 20px;
    padding: 20px;
    background-color: var(--secondary-highlight-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.info-icon i{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--highlight-color);
    font-size: 20px;
}
.info-text p{
    color: var(--gray-color);
    margin-top: 6px;
}
.contact-page-form form input{
    width: 230px;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 8px;
    background:none;
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
}
.contact-page-form form input::placeholder{
    color: var(--input-color);
}
.contact-page-form form input:nth-child(1),
.contact-page-form form input:nth-child(4){
    margin-right: 16px;
}
.contact-page-form form textarea{
    padding: 14px;
    background:none;
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    width: 94%;
    min-height: 100px;
    color: var(--text-color);
}
.contact-page-form form textarea::placeholder{
    color: var(--input-color)
}
.contact-page-form form input.submit{
    display: inline-block;
    margin-top: 20px;
    padding: 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: .5s;
    cursor: pointer;
    width: 100%
}
.contact-page-form form input.submit:hover{
    background: var(--secondary-color);
    color: var(--highlight-color);
}
.contact-page-map{
    margin-top: 100px;
}
.contact-page-map iframe{
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 1360px){
    .about-techstack-stacks{
        flex-wrap: wrap;
    }
    .about-techstack-stack{
        margin-bottom: 20px;
    }
    .portfolio-projects{
        flex-wrap: wrap;
        justify-content: center;
    }
    .portfolio-project{
        margin-bottom: 30px;
    }
}
@media (max-width: 1180px) {
    .hero-content-section{
        background-size: 50%;
        background-position-y: 50px;
    }
    .hero-content-text{
        width: 50%;
    }

    /* about skills area */
    .about-skills-section{
        flex-direction: column;
        align-items: center;
    }
    .about-skills-skill{
        width: 70%;
        margin: 0;
        margin-bottom: 50px;
    }
    /* end about skills area */
    .contact-section{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .contact-button{
        height: auto;
    }
    footer{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }
    footer .logo{
        margin-bottom: 20px;
    }
    footer .footer-nav{
        margin-bottom: 20px;
    }

    .contact-page-details{
        flex-direction: column;
        align-items: center;
    }
    .contact-page-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-page-info .info{
        margin: 0;
        margin-bottom: 30px;
    }
    .contact-page-info .info:last-child{
        margin-bottom: 0;
    }
    .contact-page-form{
        margin-top: 50px;
    }
    .contact-page-form form input{
        width: 100%;
    }
    .contact-page-form form textarea{
        width: 100%;
    }
    a.submit{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 830px){

    /* responsive navbar */
    .nav-links{
        display: none;
        transition: .5s;
    }
    .active{
        transition: .5s;
    }
    .nav-links.active{
        display: block;
        position: absolute;
        background-color: var(--highlight-color);
        border: 1px solid rgb(206, 206, 206);
        border-radius: 8px;
        top: 80px;
        width: 80%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .nav-links.active ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav-links.active ul li{
        margin-bottom: 20px;
    }
    .nav-links.active ul li:last-child{
        margin-bottom: 0;
    }
    .toggle-menu{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        width: 30px;
    }
    .toggle-menu .bar{
        height: 3px;
        margin-bottom: 3px;
        border-radius: 2px;
        background-color: #000;
    }
    .toggle-menu .bar:last-child{
        margin-bottom: 0;
    }
    /* end responsive navbar */

    /* hero area */
    .hero-content-section{
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-content-text{
        width: 100%;
        margin-top: 5rem;
    }
    .hero-content-text h3{
        margin-bottom: 2rem;
    }
    #download-cv-button{
        width: 200px;
        text-align: center;
        padding: 0.85rem;
    }
    /* end hero area */

    /* about experience */
    .about-experience-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-experience-highlight h1{
        font-size: 6rem;
    }
    .about-experience{
        width: 50%;
    }
    /* end about experience */

    footer nav ul li{
        display: block;
        list-style: none;
        text-align: center;
        margin-bottom: 16px;
        padding-left: 0;
    }
    footer nav ul li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 640px){
    .portfolio-project-thumbnail-image{
        width: 340px;
    }
}
@media (max-width: 520px){
    .portfolio-project-thumbnail-image{
        width: 240px;
    }
    .portfolio-projects-header{
        flex-direction: column;
    }
    .portfolio-projects-header a{
        margin-top: 20px;
    }

}

@media (max-width: 420px){
    .portfolio-project-thumbnail-image{
        width: 180px;
    }
    .portfolio-project-thumbnail-bg{
        padding: 30px;
    }
}

div.theme-icon{
    position: fixed;
    top: 500px;
    right: 0;
    height: 40px;
    width: 40px;
    z-index: 100;
    background: var(--background-color);
    border: 1px solid var(--black-shadow-color);
    display: flex;
    justify-content:center;
    align-items:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 4px var(--black-shadow-color);
    color: var(--theme-icon-color)
}
